<form class="basicForm" action="login" method="POST">
    <label>User Name
        <input type="text" name="username">
    </label>
    
    <label>Password
        <input type="password" name="password">
    </label>
    
    <div class="buttonContainer">
        <button type="button" onclick="window.location.href = '/pictured/'">Cancel</button>
        <button type="submit">Login</button>
    </div>
</form>