<label>User Name
    <input type="text" name="username" value="<%= locals.username %>">
</label>

<label>Email
    <input type="text" name="email" value="<%= locals.email %>">
</label>

<label>Confirm Email
    <input type="text" name="email_confirm">
</label>

<label>Password
    <input type="password" name="password">
</label>

<label>Confirm Password
    <input type="password" name="password_confirm">
</label>