<div class="landingLogoContainer">
    <div class="landingLogo">
        <div class="landingLogoText">
            Pictured
        </div>
        <div class="landingLogoImg">
            <img src="../img/logo.png">
        </div>
    </div>
    <div class="landingLogin">
        <button onclick="window.location.href = '/pictured/users/login'">Login</button>
        <p>
            New Here? <a href="users/new" >Create an Account</a>
        </p>
        <p>
            <a href="/help" >Need help logging in?</a>
        </p>
    </div>
</div>