<div class="feedback">
    <%- include('../components/errorMessage') %>
</div>

<form class="basicForm" action="new" method="POST">
    <%- include('../components/user-form') %>
    <div class="buttonContainer">
        <button type="button" onclick="window.location.href = '/pictured/'">Cancel</button>
        <button type="submit">Create</button>
    </div>
</form>